@model Product
@{
    string editUrl = @Url.Action("EditProduct", "Product") + "?productId=" + Model.Id.ToString();
}

<tr>
    <th scope="row">@Model.Identifier</th>
    <td>@Model.Description</td>
    <td>@Model.ProductType.Name</td>
    <td>@Model.ProductStatus.ToString()</td>
    <td>
        <button type="button" class="btn btn-warning update" title="Edit" data-url="@editUrl">
            <span class="fa fa-pencil"></span>
        </button>
    </td>
</tr>
