@model Product

<div class="row mb-3">
    <button type="button" id="backButton" class="btn btn-primary" data-url="@Url.Action("Index", "Product")">
        Go back
    </button>
</div>

@using (var form = Html.BeginForm("SubmitCreateProduct", "Product", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Price)
        @Html.TextBoxFor(model => model.Price, new { @class = "form-control", type = "number" })
        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ProductTypeId, "Product type")
        @Html.CustomDropdownListFor(model => model.ProductTypeId, ListHelpers.GetProductTypes(), new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ProductTypeId, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Save changes" />
        <input type="reset" value="Reset values" class="btn btn-secondary" />
    </div>
}

@section scripts{
    <script src="~/Scripts/app/go-back.js"></script>
}