@{
    var message = (Message)TempData["Message"];

    string title = string.Empty;
    string body = string.Empty;

    if (message != null)
    {
        title = message.Title;
        body = message.Body;
    }
}

@if (message != null)
{
    <div id="messageInfo" data-title="@title" data-body="@body"></div>
}

<div class="row mb-5">
    <div class="col-md-4">
        <button type="button" id="addProductButton" class="btn btn-primary" data-url="@Url.Action("CreateProduct", "Product")">
            Add product <span class="fa fa-plus"></span>
        </button>
    </div>
    <div class="col-md-8">
        <h2>Search for products</h2>

        <div class="form-group">
            @Html.TextBox("identifier", null, new { id = "identifier", @class = "form-control", placeholder = "Identifier" })
        </div>
        <div class="form-group">
            @Html.TextBox("description", null, new { id = "description", @class = "form-control", placeholder = "Description" })
        </div>
        <button type="submit" class="btn btn-primary" id="searchButton" data-url="@Url.Action("GetProducts", "Product")">
            Search <span class="fa fa-search"></span>
        </button>
    </div>
</div>

@Html.Partial("ProductsTable", (IList<Product>)ViewBag.Products)

@section scripts{
    <script src="~/Scripts/app/product/index.js"></script>
}