@model MVCProductsChallenge.Model.Entities.Product
@{
    string editUrl = @Url.Action("EditProduct", "Home") + "?productId=" + Model.Id.ToString();
}

<tr>
    <td>@Model.Identifier</td>
    <td>@Model.Description</td>
    <td>@Model.ProductType.ProductTypeName</td>
    <td>@Model.ProductStatus.ToString()</td>
    <td>
        <button type="button" class="btn btn-warning update" title="Edit" data-url="@editUrl">
            <span class="fa fa-pencil"></span>
        </button>
    </td>
</tr>
