@model MVCProductsChallenge.Model.Entities.Product
@{
    int id = Model.Id;
    string editUrl = @Url.Action("EditProduct", "Home") + "?productId=" + id.ToString();
}

<tr>
    <td>@Model.Identifier</td>
    <td>@Model.Description</td>
    <td>@Model.ProductType.ProductTypeName</td>
    <td>@Model.ProductStatus.ToString()</td>
    <td>
        <button class="btn btn-warning update" data-url="@editUrl">
            <span class="fa fa-pencil"></span>
        </button>
        <button class="btn btn-danger delete">
            <span class="fa fa-trash"></span>
        </button>
    </td>
</tr>
