@model ProductType
@{
    string editUrl = @Url.Action("EditProductType", "ProductType") + "?productTypeId=" + Model.Id.ToString(),
        deleteUrl = @Url.Action("DeleteProductType", "ProductType") + "?productTypeId=" + Model.Id.ToString();;
}

<tr>
    <td>@Model.Name</td>
    <td>
        <button type="button" class="btn btn-warning update" title="Edit" data-url="@editUrl">
            <span class="fa fa-pencil"></span>
        </button>
    </td>
    <td>
        <button type="button" class="btn btn-danger delete" title="Delete" data-url="@deleteUrl">
            <span class="fa fa-trash"></span>
        </button>
    </td>
</tr>
